<div class="container">
    <h3>Your Order</h3>
    <ul *ngIf="cartEmpty">
        <li class="item">
            <div class="dishName">
                Your cart is empty
            </div>
        </li>
    </ul>
    <ul *ngIf="!cartEmpty" class="items-list">
        <li *ngFor="let dish of cart; let i = index" class="item">
            <div class="dishName">{{ dish.dishName }}</div>
            <div (click)="removeDish(i)"><i class="fas fa-trash-alt"></i></div>
            <div class="btn" (click)="incQuantity(i)"><a>+</a></div>
            <div>{{ quantity[i] }}</div>
            <div class="btn" (click)="decQuantity(i)"><a>-</a></div>
        </li>
    </ul>

    <form [formGroup]="billingDetails">
        <ul class="form-group">
            <li>Billing Details</li>
            <li> <label>Name</label> <input type="text" formControlName="name"> </li>
            <li> <label>Contact</label> <input type="text" formControlName="contactNumber"> </li>
            <li> <label>Address</label> <textarea rows="5" formControlName="address"></textarea> </li>
            <li><a (click)="onSubmit(billingDetails)">Place Order</a></li>
        </ul>
    </form>
</div>
