header {
    height: 15vh;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    z-index: 10;
}

nav {
    height: 100%;
    width: 80%;
    margin: auto;
}

ul {
    list-style: none;
    height: 100%;
    width: 80%;
}

ul li {
    padding: 15px;
    transition: all 0.2s;
    border: 2px solid transparent;
}

ul li:hover {
    border: 2px solid #fff;
}

ul li:nth-of-type(3),
ul li:nth-of-type(3):hover {
    padding: 0;
    border: none;
}

ul li:last-of-type {
    border: 2px solid #fff;
}

ul li:last-of-type:hover {
    background-color: #444;
}

ul li img {
    position: relative;
    z-index: 10;
}

a, a:hover {
    outline: none;
    text-decoration: none;
    border: none;
}

nav a {
    color: #fff;
    font-weight: 400;
    transition: all 0.2s;
}

.outlet {
    /* min-height: 85vh; */
    height: fit-content;
    width: 100%;
    position: absolute;
    top: 15vh;
    left: 0;
}