<div>
<header *ngIf="isLoggedIn">
    <nav fxLayout="row nowrap" fxLayoutAlign="space-around center" class="animate__animated animate__fadeInDown">
        <ul fxLayout="row nowrap" fxLayoutAlign="space-around center">
            <li><a routerLink="/home">Home</a></li>
            <li><a href="">Donate</a></li>
            <li class="logo" fxFlexAlign="flex-start"><img src="../assets/img/logo.png" alt=""></li>
            <li><a href="">Cart</a></li>
            <li><a routerLink="/shop">Order Now</a></li>
        </ul>
    </nav>
</header>
</div>
<div class="outlet">
    <router-outlet></router-outlet>
</div>