<header>
  <nav>
    <div class="logo">
      <a href="#">Omnifood</a>
    </div>
    
    <ul class="nav-links" [ngClass]="{'active': navbar}">
      <li class="link"><a routerLink="/home" (click)="toggleNavBar()">Home</a></li>
      <li class="link"><a routerLink="/shop" (click)="toggleNavBar()">Shop</a></li>
      <li class="link"><a routerLink="/cart" (click)="toggleNavBar()">Cart</a></li>
      <li class="link"><a routerLink="/donate" (click)="toggleNavBar()">Donate</a></li>
      <li class="link link-admin"><a routerLink="/admin">Admin</a></li>
    </ul>

    <div class="burger" [ngClass]="{'toggle': navbar}" (click)="toggleNavBar()">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
</nav>
<router-outlet></router-outlet>
</header>