/* ======================================================== */
/* REUSABLE COMPONENTS */
/* ======================================================== */

header {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../assets/img/hero.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* BASIC STYLING */

nav {
    height: 10vh;
    width: 100vw;
    background: #444;
    padding: 5px 20px;
}
ul {
    list-style-type: none;
    background-color: #444;
}
a {
    color: white;
    text-decoration: none;
    padding-bottom: 3px;
}
a:hover {
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.2s, padding-bottom 0.2s;
}
.logo a:hover,
.toggle a:hover {
    text-decoration: none;
    border-bottom: transparent;
}
.menu li {
    font-size: 80%;
    padding: 15px 5px;
    text-transform: uppercase;
    white-space: nowrap;
}
.logo a,
.toggle a {
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* MOBILE MENU */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.toggle {
    order: 1;
}
.item {
    width: 100%;
    text-align: center;
    order: 2;
    display: none;
}
.item-admin {
    display: none;
    text-align: center;
}
.item.show {
    display: block;
}
.item.active a,
.item-admin.active a {
    border-bottom: 1px solid #e67e22;
}

/* Desktop menu */
@media all and (min-width: 700px) {
    nav {
        background-color: transparent;
    }
    ul {
        background-color: transparent;
    }
    .item {
        display: block;
        width: auto;
        order: 1;
        flex: 1;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
        flex: 5;
    }
    .logo a {
        font-size: 200%;
    }
    .item-admin {
        display: block;
        width: auto;
        order: 2;
        flex: 1;
    }
    .menu li {
        font-size: 90%;
    }
}