<div class="container">
    <div class="card" *ngFor="let dish of restaurant.dishes">
        <img [src]="dish.dishImage" alt="no image">
        <ul>
            <li class="medium">{{ restaurant.name }}</li>
            <li class="large">{{ dish.dishName }}</li>
            <li class="small"><i class="fas fa-rupee-sign active"></i> {{ dish.cost }} / serving</li>
            <li class="small btn" (click)="addDish(dish)">Add to Cart</li>
        </ul>
    </div>

    <a class="btn-full" routerLink="/cart" ><p>Go to Cart</p></a>
</div>
