.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    min-height: 90vh;
    padding: 20px 20px;
    color: #fff;
}

a {
    outline: none;
    text-decoration: none;
    border: transparent;
    cursor: pointer;
}

ul {
    list-style: none;
}

.card {
    width: 60%;
    height: 40vh;
    background-color: #ddd;
    margin: 20px;
    border-radius: 10px;
    color: #444;
    letter-spacing: 1px;
    word-spacing: 2px;
    border-right: 3px solid #ddd;
}

.card img {
    width: 100%;
    height: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card ul {
    height: 40%;
}

.card ul li {
    margin: 5% 7%;
}

.medium {
    font-size: 50%;
    text-transform: uppercase;
}

.large {
    font-size: 80%;
    font-weight: 400;
}

.small {
    font-size: 55%;
    color: #e67e22;
    font-weight: 400;
}


/* DESKTOP */

@media all and (min-width: 700px) {
    .container {
        flex-flow: row wrap;
        justify-content: center;
        min-height: 85vh;
        padding: 3% 6%;
    }

    .container div:first-of-type {
        width: 100%;
    }

    .card {
        width: 17%;
        margin: 40px 20px;
    }    
}